* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* لمنع السكرول الأفقي */
}

.card:hover {
  border: 1px solid rgb(246, 242, 242);
  transform: scale(1.03);
}

.card:active {
  transform: scale(0.93) rotateZ(1.7deg);
}